<h2 class="screen-align">Addprogress</h2>
<div id="template-ituz" class="gjs-row">
    <div id="template-iiyk" class="gjs-cell">
        <div id="template-ipwpd6" class="gjs-row">
            <div id="template-ii25o5" class="gjs-cell">
                <img id="template-ixy73s" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logo1.png"
                class="" />
            </div>
        </div>
        <div id="template-irgn" class="gjs-row">
            <div id="template-iedh" class="gjs-cell">
                <div id="template-i3lib" class="">
                    <div id="template-inni" class="">MENU</div>
                </div>
                <div id="template-iglvk" class="gjs-row">
                    <div id="template-iipg2" class="gjs-cell">
                        <div id="template-iib8x" class="gjs-row">
                            <div id="template-iatnu" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home1.png"
                                id="template-icemm" class="" />
                            </div>
                            <div id="template-ipxyf" class="gjs-cell">
                                <div id="template-iho6k" class="">
                                    <div id="template-ib05f" class="">Home</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i51ig" class="gjs-cell">
                        <div id="template-i7v8k" class="gjs-row">
                            <div id="template-i2tm2" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community.png"
                                id="template-i7ebg" class="" />
                            </div>
                            <div id="template-izy05" class="gjs-cell">
                                <div id="template-it4ic" class="">
                                    <div id="template-iak0x" class="">Community</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i7i9c" class="gjs-cell">
                        <div id="template-ivlgs" class="gjs-row">
                            <div id="template-ixzwo" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/my%20features.png"
                                id="template-iwwke" class="" />
                            </div>
                            <div id="template-ifq9g" class="gjs-cell">
                                <div id="template-ilwun" class="">
                                    <div id="template-ii3qg" class="">My Features</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iievh" class="gjs-cell">
                        <div id="template-iamwz" class="gjs-row">
                            <div id="template-im4bp" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer.png"
                                id="template-i111a" class="" />
                            </div>
                            <div id="template-iw50h" class="gjs-cell">
                                <div id="template-ijkgu" class="">
                                    <div id="template-icdua" class="">Trainer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-im9yr" class="gjs-cell">
                        <div id="template-iewbj" class="gjs-row">
                            <div id="template-insc6" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile.png"
                                id="template-i36s2" class="" />
                            </div>
                            <div id="template-ihn7g" class="gjs-cell">
                                <div id="template-imzqf" class="">
                                    <div id="template-idn2g" class="">Profile</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-isy3f" class="gjs-cell">
                <div id="template-if4kq" class="gjs-row">
                    <div id="template-i9zea" class="gjs-cell">
                        <div id="template-ibvlu" class="gjs-row">
                            <div id="template-ibqxy" class="gjs-cell">
                                <img id="template-id2zg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                                class="" />
                            </div>
                            <div id="template-ifdys" class="gjs-cell">
                                <div id="template-ius1p" class="">
                                    <div id="template-i2erj" class="">Logout</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iyyy" class="gjs-cell">
        <div id="template-il7wf" class="gjs-row">
            <div id="template-i6jcc" class="gjs-cell">
                <div id="template-i3tf4v" class="gjs-row">
                    <div id="template-iku58j" class="gjs-cell">
                        <img id="template-iw0xzk" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/back%20icon1.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-itavxz" class="gjs-row">
            <div id="template-i3tnpo" class="gjs-cell">
                <div id="template-i22z05" class="gjs-row">
                    <div id="template-i9ulag" class="gjs-cell">
                        <div id="template-ipkqby" class="">
                            <div id="template-ind2wl" class="">Body Measurement</div>
                        </div>
                    </div>
                    <div id="template-imke3i" class="gjs-cell">
                        <div id="template-ibfwct" class="gjs-row"></div>
                        <div id="template-iz653j" class="gjs-row">
                            <div id="template-i3vzaf" class="gjs-cell">
                                <div id="template-ipwe8o" class="gjs-row">
                                    <div id="template-iplc5u" class="gjs-cell">
                                        <div id="template-i1drql" class="gjs-row">
                                            <div id="template-ids0rb" class="gjs-cell">
                                                <img id="template-is4v1l" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/calander.png"
                                                class="" />
                                            </div>
                                            <div id="template-i065hc" class="gjs-cell">
                                                <div id="template-i7f0m9" class="">
                                                    <div id="template-i9oa3q" class="">July 5th, 2022</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ijjojn" class="gjs-row">
            <div id="template-iaew4e" class="gjs-cell">
                <div id="template-i2s2s3" class="gjs-row">
                    <div id="template-i41mtk" class="gjs-cell">
                        <div id="template-ipz0u6" class="">
                            <div id="template-iyqdxw" class="">Body Weight ( Kg )</div>
                        </div>
                    </div>
                    <div id="template-is14dj" class="gjs-cell">
                        <input id="template-iwql3v" class="input form-control " />
                    </div>
                </div>
            </div>
            <div id="template-ibkh93" class="gjs-cell">
                <div id="template-i1lrvi" class="gjs-row">
                    <div id="template-ix8iy1" class="gjs-cell">
                        <div id="template-incfc2" class="">
                            <div id="template-i36rah" class="">Neck ( Cm )</div>
                        </div>
                    </div>
                    <div id="template-ij2inx" class="gjs-cell">
                        <input id="template-i7yl21" class="input form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ieviqp" class="gjs-row">
            <div id="template-iva8wo" class="gjs-cell">
                <div id="template-icb9b1" class="gjs-row">
                    <div id="template-ias9hm" class="gjs-cell">
                        <div id="template-i476il" class="">
                            <div id="template-ipi6rf" class="">Chest Size (Cm)</div>
                        </div>
                    </div>
                    <div id="template-io6zw4" class="gjs-cell">
                        <input id="template-i3yrn6" class="input form-control " />
                    </div>
                </div>
            </div>
            <div id="template-idhrd3" class="gjs-cell">
                <div id="template-izf3so" class="gjs-row">
                    <div id="template-iogylh" class="gjs-cell">
                        <div id="template-itzt5g" class="">
                            <div id="template-izghm5" class="">Waist Size (Cm)</div>
                        </div>
                    </div>
                    <div id="template-ii2s2k" class="gjs-cell">
                        <input id="template-ia4qqe" class="input form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iq6bcg" class="gjs-row">
            <div id="template-i1fn3t" class="gjs-cell">
                <div id="template-iavc6k" class="gjs-row">
                    <div id="template-i8t7y5" class="gjs-cell">
                        <div id="template-iurt44" class="">
                            <div id="template-ivgxe9" class="">Hip Size ( Cm )</div>
                        </div>
                    </div>
                    <div id="template-ip2z4s" class="gjs-cell">
                        <input id="template-i1onb9" class="input form-control " />
                    </div>
                </div>
            </div>
            <div id="template-is524g" class="gjs-cell">
                <div id="template-i178tf" class="gjs-row">
                    <div id="template-iy2r8h" class="gjs-cell">
                        <div id="template-i2q7au" class="gjs-row">
                            <div id="template-irmonu" class="gjs-cell">
                                <div id="template-ijqc1r" class="">
                                    <div id="template-i1f1t7" class="">Body Fat ( % )</div>
                                </div>
                            </div>
                            <div id="template-ioz1l2" class="gjs-cell">
                                <div id="template-ifocak" class="">
                                    <div id="template-igq5dw" class="">i</div>
                                </div>
                            </div>
                            <div id="template-i4f9kl" class="gjs-cell">
                                <div id="template-iwihzf" class="">
                                    <div id="template-ipnpph" class="">Calculate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ipfuvp" class="gjs-cell">
                        <input id="template-isbfw3" class="input form-control " />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i6r2vu" class="gjs-row">
            <div id="template-i848vf" class="gjs-cell">
                <div id="template-i75nxl" class="">
                    <div id="template-igm0tk" class="">Progress Photos ( Max 4 Photos )</div>
                </div>
            </div>
            <div id="template-iw1bep" class="gjs-cell">
                <div id="template-i8p8ug" class="gjs-row">
                    <div id="template-ig7nd1" class="gjs-cell">
                        <div id="template-iy0s5x" class="">
                            <div id="template-ilffto" class="">Drag and drop photos ,or</div>
<b id="template-i9tsk1" class="">
<div id="template-iafufk" class="">
Browse</div>
</b>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i64z71" class="gjs-row">
            <div id="template-i6lhuu" class="gjs-cell">
                <button id="template-ibkb4d" class="button btn btn-primary ">
                    <div id="template-i0blfv" class="">Update</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-itbg" class="gjs-cell">
        <div id="template-ion5bv" class="gjs-row">
            <div id="template-ibr70b" class="gjs-cell">
                <div id="template-iugqph" class="gjs-row">
                    <div id="template-itmr8k" class="gjs-cell">
                        <div id="template-i5f6nj" class="gjs-row">
                            <div id="template-ihae7l" class="gjs-cell">
                                <img id="template-ihym6l" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/steps.png"
                                class="" />
                            </div>
                            <div id="template-izlnu9" class="gjs-cell">
                                <div id="template-i9jy3w" class="">
                                    <div id="template-iacyhf" class="">6,321</div>
                                </div>
                                <div id="template-iwvp7r" class="">
                                    <div id="template-imnq0n" class="">Count Steps</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i7u69h" class="gjs-cell">
                        <div id="template-iov33z" class="gjs-row">
                            <div id="template-i52c7q" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/heart%20points.png"
                                id="template-i8ugsc" class="" />
                            </div>
                            <div id="template-ihnw24" class="gjs-cell">
                                <div id="template-ic7vbt" class="">
                                    <div id="template-isdv6y" class="">14</div>
                                </div>
                                <div id="template-iktb1e" class="">
                                    <div id="template-iq0msi" class="">Heart Points</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i8f87a" class="gjs-cell">
                        <div id="template-iycojo" class="">
                            <div id="template-invdmb" class="">Your Weekly Target</div>
                        </div>
                        <div id="template-ibikzs" class="">
                            <div id="template-i8gaf3" class="">May 22-28</div>
                        </div>
                        <div id="template-iwx2r1" class="">
                            <div id="template-iu3jne" class="">102 Of 150</div>
                        </div>
                        <div id="template-i063yr" class="">
                            <div id="template-i5ki5l" class="">A weekly target of 150 heart points can help you live longer, sleep better,
                                and improve your mood.</div>
                            <br id="template-iodoaj" class="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-iyc56o" class="gjs-cell">
                <div id="template-i88tfh" class="gjs-row">
                    <div id="template-ilm2a5" class="gjs-cell">
                        <div id="template-ig2452" class="">
<b id="template-i0zs3y" class="">
<div id="template-i4hu4d" class="">
My Goal
                </div>
</b>

                        </div>
                    </div>
                    <div id="template-i6t2w9" class="gjs-cell">
                        <div id="template-iprl23" class="">
                            <div id="template-im37ut" class="">Add Progress</div>
                        </div>
                    </div>
                </div>
                <div id="template-idiisu" class="gjs-row">
                    <div id="template-ilx2ex" class="gjs-cell">
                        <div id="template-i8ezbz" class="gjs-row">
                            <div id="template-ivj8gk" class="gjs-cell">
                                <div id="template-isr24x" class="gjs-row">
                                    <div id="template-ih3yj2" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%201242.png"
                                        id="template-iwbk5a" class="" />
                                    </div>
                                    <div id="template-i5mdvy" class="gjs-cell">
                                        <div id="template-iqqvqg" class="gjs-row">
                                            <div id="template-imn9lp" class="gjs-cell">
                                                <div id="template-iammgm" class="">
<b id="template-i80p4u" class="">
<div id="template-iirfjl" class="">
72
                            </div>
</b>

                                                    <div id="template-icubqh" class="">kg</div>
                                                </div>
                                            </div>
                                            <div id="template-ipoxrp" class="gjs-cell">
                                                <div id="template-i60l14" class="">
                                                    <div id="template-i150qo" class="">You're here</div>
                                                </div>
                                            </div>
                                            <div id="template-irwtrg" class="gjs-cell">
                                                <div id="template-i48sva" class="">
<b id="template-ipstf7" class="">
<div id="template-iaxs21" class="">
92
                            </div>
</b>

                                                    <div id="template-iumvnh" class="">kg</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="template-iw577w" class="">
    <div id="template-ird6xx" class="">var items = document.querySelectorAll('#template-irs0eu'); for (var i
        = 0, len = items.length; i
        < len; i++) { (function(){ var t,e=this,r="["
        + "data-accordion"+ "]",n="[" + "data-accordion-container"+ "]",o="accordion-active"
        ,c="href" ,i=document.body,a=i.matchesSelector||i.webkitMatchesSelector||i.mozMatchesSelector||i.msMatchesSelector;
        e.addEventListener( "click",(function(i){ var s,d,l=i.target; a.call(l,r)&&(
        "block"===e.querySelector(l.getAttribute(c)).style.display?(s=l.parentElement,d=s.className.replace(o,
        "").trim(),s.className=d,e.querySelector(l.getAttribute(c)).style.display="none"
        ):(!function(r){ var c=e.querySelectorAll(n)||[]; if(i)for(t=0;t<c.length;t++){
        var i=c[t],a=i.className.replace(o, "").trim(); i.className=a} r.className+=" "
        +o} (l.parentElement),e.querySelector(l.getAttribute(c)).style.display="block"
        ))} )) } .bind(items[i]))(); } </div>
    </div>