<h2 class="screen-align">Desktopview</h2>
<div id="template-i8aj" class="gjs-row">
    <div id="template-ipuh" class="gjs-cell">
        <div id="template-i1qn" class="gjs-row">
            <div id="template-ikzc" class="gjs-cell">
                <div id="template-ilml" class="gjs-row">
                    <div id="template-izbj" class="gjs-cell">
                        <div id="template-itmwa" class="">
                            <div id="template-i0o3k" class="">Product Details</div>
                        </div>
                    </div>
                </div>
                <div id="template-iacl" class="gjs-row">
                    <div id="template-ip33" class="gjs-cell">
                        <div id="template-irjmi" class="">
                            <div id="template-i3kyg" class="">Food Name</div>
                        </div>
                    </div>
                    <div id="template-idh3j" class="gjs-cell">
                        <input id="template-i9i38" class="input form-control " />
                    </div>
                </div>
                <div id="template-igt28" class="gjs-row">
                    <div id="template-ivo9i" class="gjs-cell">
                        <div id="template-idrjn" class="">
                            <div id="template-iw2ti" class="">Description</div>
                        </div>
                    </div>
                    <div id="template-it2g2" class="gjs-cell">
                        <input id="template-i1i8e" class="input form-control " />
                    </div>
                </div>
                <div id="template-iv8yg" class="gjs-row">
                    <div id="template-irqhf" class="gjs-cell">
                        <div id="template-iv3fk" class="gjs-row">
                            <div id="template-ipwlr" class="gjs-cell">
                                <div id="template-iihu5" class="">
                                    <div id="template-ipm5e" class="">Portion</div>
                                </div>
                            </div>
                            <div id="template-icqq4" class="gjs-cell">
                                <input id="template-i6zcg" class="input form-control " />
                            </div>
                        </div>
                    </div>
                    <div id="template-i3col" class="gjs-cell">
                        <div id="template-idm1n" class="gjs-row">
                            <div id="template-il48f" class="gjs-cell">
                                <div id="template-it5cm" class="">
                                    <div id="template-iswkw" class="">Portion Unit</div>
                                </div>
                            </div>
                            <div id="template-ivosu" class="gjs-cell">
                                <div>
                                    <select id="template-iduq7" class="select ">
                                        <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                    </select>
                                </div>
                                <div value="" id="template-inltx" class="">
                                    <div id="template-i1i7a" class="">- Select option -</div>
                                </div>
                                <div value="1" id="template-i4tzw" class="">
                                    <div id="template-ik7yk" class="">Option 1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-ip243" class="gjs-row">
                    <div id="template-igt5p" class="gjs-cell">
                        <div id="template-i9smv" class="gjs-row">
                            <div id="template-iwp0h" class="gjs-cell">
                                <div id="template-iudkk" class="">
                                    <div id="template-ika79" class="">Carbohydrates</div>
                                </div>
                            </div>
                            <div id="template-ibocc" class="gjs-cell">
                                <input id="template-i2rqh" class="input form-control " />
                            </div>
                        </div>
                    </div>
                    <div id="template-im282" class="gjs-cell">
                        <div id="template-ib734" class="gjs-row">
                            <div id="template-i4boq" class="gjs-cell">
                                <div id="template-il3wh" class="">
                                    <div id="template-icefw" class="">Carbohydrates Unit</div>
                                </div>
                            </div>
                            <div id="template-ivtqv" class="gjs-cell">
                                <div>
                                    <select id="template-ihyp6" class="select ">
                                        <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                    </select>
                                </div>
                                <div value="" id="template-ievpa" class="">
                                    <div id="template-iopnv" class="">- Select option -</div>
                                </div>
                                <div value="1" id="template-i6zd5" class="">
                                    <div id="template-i8snh" class="">Option 1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-iitit" class="gjs-row">
                    <div id="template-i7cq9" class="gjs-cell">
                        <div id="template-izf9k" class="gjs-row">
                            <div id="template-i2t7n" class="gjs-cell">
                                <div id="template-iywaf" class="">
                                    <div id="template-i3f8q" class="">Portein</div>
                                </div>
                            </div>
                            <div id="template-ig0vf" class="gjs-cell">
                                <input id="template-i10p8" class="input form-control " />
                            </div>
                        </div>
                    </div>
                    <div id="template-iaxlw" class="gjs-cell">
                        <div id="template-igqmu" class="gjs-row">
                            <div id="template-i2br3" class="gjs-cell">
                                <div id="template-i24ia" class="">
                                    <div id="template-i19ag" class="">Portein Unit</div>
                                </div>
                            </div>
                            <div id="template-ie1mi" class="gjs-cell">
                                <div>
                                    <select id="template-i2kby" class="select ">
                                        <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                    </select>
                                </div>
                                <div value="" id="template-ircai" class="">
                                    <div id="template-ietwm" class="">- Select option -</div>
                                </div>
                                <div value="1" id="template-intlw" class="">
                                    <div id="template-ix8bi" class="">Option 1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-ichch" class="gjs-row">
                    <div id="template-i5bal" class="gjs-cell">
                        <div id="template-i8jrt" class="gjs-row">
                            <div id="template-ixo5k" class="gjs-cell">
                                <div id="template-i1cs8" class="">
                                    <div id="template-i6min" class="">Fats</div>
                                </div>
                            </div>
                            <div id="template-igoo3" class="gjs-cell">
                                <input id="template-iuuj8" class="input form-control " />
                            </div>
                        </div>
                    </div>
                    <div id="template-if599" class="gjs-cell">
                        <div id="template-i65ol" class="gjs-row">
                            <div id="template-id4ii" class="gjs-cell">
                                <div id="template-iei65" class="">
                                    <div id="template-icb95" class="">Fats Unit</div>
                                </div>
                            </div>
                            <div id="template-iey26" class="gjs-cell">
                                <div>
                                    <select id="template-il0cj" class="select ">
                                        <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                    </select>
                                </div>
                                <div value="" id="template-iq5hv" class="">
                                    <div id="template-i6s1h" class="">- Select option -</div>
                                </div>
                                <div value="1" id="template-if75j" class="">
                                    <div id="template-isjdi" class="">Option 1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-ins3pu" class="gjs-row">
                    <div id="template-i1ygsx" class="gjs-cell">
                        <div id="template-izt2dj" class="gjs-row">
                            <div id="template-i5dhbd" class="gjs-cell">
                                <div id="template-ifjqu" class="">
                                    <div id="template-i7ipfj" class="">Kcalories</div>
                                </div>
                            </div>
                            <div id="template-ivt9ad" class="gjs-cell">
                                <input id="template-ix4bf8" class="input form-control " />
                            </div>
                        </div>
                    </div>
                    <div id="template-i4e80c" class="gjs-cell">
                        <div id="template-iqbdcg" class="gjs-row">
                            <div id="template-i11p93" class="gjs-cell">
                                <div id="template-in1dn2" class="">
                                    <div id="template-idpljz" class="">Tags</div>
                                </div>
                            </div>
                            <div id="template-inl2im" class="gjs-cell">
                                <div>
                                    <select id="template-i8o7wc" class="select ">
                                        <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                    </select>
                                </div>
                                <div value="" id="template-ixpcvk" class="">
                                    <div id="template-ipdcae" class="">- Select option -</div>
                                </div>
                                <div value="1" id="template-ifdi32" class="">
                                    <div id="template-izedlg" class="">Option 1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-imx9kg" class="gjs-row">
                    <div id="template-iwg6km" class="gjs-cell">
                        <div id="template-i4rokh" class="">
                            <div id="template-iugvll" class="">Upload Your Image</div>
                        </div>
                    </div>
                    <div id="template-ivp24j" class="gjs-cell">
                        <div id="template-igqu19" class="gjs-row">
                            <div id="template-ipv8si" class="gjs-cell">
                                <div id="template-i9nv3f" class="">
                                    <div id="template-irs2i7" class="">Drag and Drop or</div>
<b id="template-i3o2va" class="">
<div id="template-isvczk" class="">
browse to choose a file</div>
</b>

                                </div>
                                <div id="template-i633yj" class="">
                                    <div id="template-igx0v4" class="">Png , Jpg and files are allowed (10mb)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-izpeqb" class="gjs-row">
                    <div id="template-iahfza" class="gjs-cell">
                        <div id="template-ind6gn" class="">
                            <div id="template-iyg819" class="">Cancel</div>
                        </div>
                    </div>
                    <div id="template-ia2lmr" class="gjs-cell">
                        <button id="template-iyvpsf" class="button btn btn-primary ">
                            <div id="template-iod7zf" class="">Create</div>
                        </button>
                    </div>
                </div>
            </div>
            <div id="template-iszg" class="gjs-cell"></div>
        </div>
    </div>
</div>