body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-i8aj {
    min-height: 100vh;
    padding: 0000;
}

#template-i1qn {
    padding: 0000;
}

#template-ikzc {
    max-width: 50%;
    padding: 2%3%2%5%;
}

#template-izbj {
    min-height: 50px;
}

#template-iszg {
    background-image: url('https://grapesjs-images.s3.amazonaws.com/grapesjsimages/product%20details%20desktop%20img.png');
    background-repeat: no-repeat;
    background-position: centercenter;
    background-attachment: local;
    background-size: cover;
    min-height: 100vh;
    height: 106vh;
}

#template-iacl {
    flex-wrap: wrap;
    padding: 10px10px010px;
}

#template-ip33 {
    min-height: 40px;
}

#template-idh3j {
    min-height: 50px;
    padding: 00010px;
}

#template-ivo9i {
    min-height: 40px;
}

#template-it2g2 {
    min-height: 50px;
    padding: 00010px;
}

#template-igt28 {
    flex-wrap: wrap;
}

#template-iv8yg {
    padding: 010px010px;
}

#template-ipwlr {
    min-height: 40px;
}

#template-icqq4 {
    min-height: 50px;
    padding: 00010px;
}

#template-iv3fk {
    flex-wrap: wrap;
    padding: 10px10px10px0;
}

#template-il48f {
    min-height: 40px;
}

#template-ivosu {
    min-height: 50px;
    padding: 00010px;
}

#template-idm1n {
    flex-wrap: wrap;
}

#template-itmwa {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
}

#template-irjmi {
    padding: 10px;
}

#template-i9i38 {
    min-height: 50px;
    max-width: 90%;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-idrjn {
    padding: 10px;
}

#template-i1i8e {
    max-width: 90%;
    min-height: 100px;
    border-radius: 10px10px10px10px;
    background-color: #fcfcfc;
    border: 1pxsolid#b9b9b9;
}

#template-iihu5 {
    padding: 10px;
}

#template-it5cm {
    padding: 10px;
}

#template-i6zcg {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-iduq7 {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
    max-width: 50%;
}

#template-iywaf {
    padding: 10px;
}

#template-i2t7n {
    min-height: 40px;
}

#template-i10p8 {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-ig0vf {
    min-height: 50px;
    padding: 00010px;
}

#template-izf9k {
    flex-wrap: wrap;
    padding: 10px10px10px0;
}

#template-i24ia {
    padding: 10px;
}

#template-i2br3 {
    min-height: 40px;
}

#template-i2kby {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
    max-width: 50%;
}

#template-ie1mi {
    min-height: 50px;
    padding: 00010px;
}

#template-igqmu {
    flex-wrap: wrap;
}

#template-iitit {
    padding: 010px010px;
}

#template-iudkk {
    padding: 10px;
}

#template-iwp0h {
    min-height: 40px;
}

#template-i2rqh {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-ibocc {
    min-height: 50px;
    padding: 00010px;
}

#template-i9smv {
    flex-wrap: wrap;
    padding: 10px10px10px0;
}

#template-il3wh {
    padding: 10px;
}

#template-i4boq {
    min-height: 40px;
}

#template-ihyp6 {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
    max-width: 50%;
}

#template-ivtqv {
    min-height: 50px;
    padding: 00010px;
}

#template-ib734 {
    flex-wrap: wrap;
}

#template-ip243 {
    padding: 010px010px;
}

#template-i1cs8 {
    padding: 10px;
}

#template-ixo5k {
    min-height: 40px;
}

#template-iuuj8 {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-igoo3 {
    min-height: 50px;
    padding: 00010px;
}

#template-i8jrt {
    flex-wrap: wrap;
    padding: 10px10px10px0;
}

#template-iei65 {
    padding: 10px;
}

#template-id4ii {
    min-height: 40px;
}

#template-il0cj {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
    max-width: 50%;
}

#template-iey26 {
    min-height: 50px;
    padding: 00010px;
}

#template-i65ol {
    flex-wrap: wrap;
}

#template-ichch {
    padding: 010px010px;
}

#template-ifjqu {
    padding: 10px;
}

#template-i5dhbd {
    min-height: 40px;
}

#template-ix4bf8 {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
}

#template-ivt9ad {
    min-height: 50px;
    padding: 00010px;
}

#template-izt2dj {
    flex-wrap: wrap;
    padding: 10px10px10px0;
}

#template-in1dn2 {
    padding: 10px;
}

#template-i11p93 {
    min-height: 40px;
}

#template-i8o7wc {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    border: 0.5pxsolid#b9b9b9;
    max-width: 50%;
}

#template-inl2im {
    min-height: 50px;
    padding: 00010px;
}

#template-iqbdcg {
    flex-wrap: wrap;
}

#template-ins3pu {
    padding: 010px010px;
}

#template-iwg6km {
    min-height: 40px;
}

#template-ivp24j {
    min-height: 40px;
    padding: 00010px;
    color: #313030;
}

#template-imx9kg {
    flex-wrap: wrap;
}

#template-i4rokh {
    padding: 10px;
}

#template-ipv8si {
    min-height: 100px;
    padding: 14px000;
}

#template-igqu19 {
    border: 1pxdashed#b9b9b9;
    border-radius: 10px10px10px10px;
    box-shadow: 5px5px5px0#eaeaea;
    max-width: 90%;
    color: #000000;
}

#template-i9nv3f {
    padding: 10px;
    color: #7c7c7c;
    text-align: center;
    font-size: 15px;
}

#template-i3o2va {
    color: #2465fd;
    font-weight: 500;
}

#template-i633yj {
    padding: 010px10px10px;
    color: #7c7c7c;
    text-align: center;
    font-size: 15px;
}

#template-iahfza {
    min-height: 50px;
}

#template-ia2lmr {
    min-height: 50px;
}

#template-iyvpsf {
    min-height: 50px;
    max-width: 100%;
    width: 80%;
    border-radius: 10px10px10px10px;
}

#template-izpeqb {
    margin: 15px000;
}

#template-ind6gn {
    padding: 10px;
    text-align: right;
    min-height: 50px;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}